*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

.header-bg{
    padding-top:40px;
    background:
        radial-gradient(
            circle at center top,
            rgba(255,255,255,.35),
            transparent 45%
        ),
        linear-gradient(
            180deg,
            #5d7748 0%,
            #7f9a68 20%,
            #a9bf97 55%,
            #f5f6f0 100%
        );
}

body{
    margin:0;
    width:100%;
    overflow-x:hidden;
    background:#f5f6f0;
}

img{
    max-width:100%;
    height:auto;
    display:block;
}

/* NAVBAR */

nav{
    width:90%;
    margin:20px auto;
    background:white;
    border-radius:50px;
    padding:15px 30px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}


.logo-image{
    width:150px;
    height:auto;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
    flex-wrap:wrap;
}

nav a{
    text-decoration:none;
    color:#333;
}

section a{
    text-decoration:none;
    color:white;
}

nav button{
    background:#5c8247;
    color:white;
    border:none;
    padding:10px 25px;
    border-radius:25px;
    cursor:pointer;
}

/* HERO */

.hero{
    width:90%;
    height:420px;
    margin:auto;

    border-radius:30px;

    background-image:url('Desain tanpa judul.png');
    background-size:cover;
    background-position:center;

    position:relative;
}

.overlay{
    position:absolute;
    left:60px;
    top:60px;
    color:black;
}

.badge{
    background:white;
    color:#4d6d40;

    padding:10px 20px;
    border-radius:20px;
}

.overlay h1{
    font-size:30px;
    margin:20px 0;
}

.overlay p{
    max-width:500px;
    width:100%;
    line-height:1.8;
}

.hero-btn{
    margin-top:25px;
    background:#5c8247;
    color:white;
    border:none;
    padding:15px 30px;
    border-radius:30px;
}

.hero{
    position:relative;
    overflow:hidden;
}

/* ABOUT */
.about{
    width:90%;
    margin:80px auto;

    display:grid;
    grid-template-columns:2fr 1fr;
    gap:50px;
    align-items:center;
}

.about-left{
    width:100%;
}

.about-image img{
    width:100%;
    border-radius:25px;
    display:block;
}

.about-text{
    margin-top:25px;
}

.about-text h2{
    font-size:32px;
    margin-bottom:20px;
}

.about-text p{
    line-height:1.8;
    margin-bottom:25px;
}

.about-text button{
    background:#5c8247;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:25px;
}

.about-stats{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
}

.stat-card{
    background:white;
    padding:25px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
    transition:.3s;
}

.stat-card:hover{
    transform:translateY(-5px);
}

.stat-card h3{
    font-size:36px;
    color:#5f8744;
    margin-bottom:10px;
}

.stat-card p{
    font-size:16px;
    font-weight:500;
}

/* CARD */

.startup{
    width:90%;
    margin:auto;
}

.startup h2{
    font-size:30px;
    text-align:center;
    margin-bottom:40px;
}

.card-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

.card{
    background:white;
    border-radius:20px;
    overflow:hidden;
    margin-bottom:30px;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.card h3{
    padding:15px;
}

.card p{
    padding:0 15px 20px;
}

.startup-more{
    text-align:center;
    margin-top:20px;
}

.startup-more button{
    width:100%;
    background:#5c8247;
    color:white;
    border:none;
    padding:15px;
    border-radius:25px;
    cursor:pointer;
}

.mentor{
    width:90%;
    margin:60px auto;
}

.mentor-title{
    text-align:center;
    font-size:30px;
    margin-bottom:25px;
}

.mentor-box{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:15px;

    background:#cdd9c7;

    padding:30px 40px; 
    border-radius:30px;
}

.mentor-info{
    flex:1;
    min-width:0;
}

.mentor-info h2{
    text-align:left;
    font-size:28px;
    margin-bottom:20px;
    color:#183c2b;
}

.mentor-label{
    color:#7d9668;
    font-weight:600;
    letter-spacing:2px;
}

.mentor-detail p{
    margin-bottom:12px;
    color:#555;
    font-size:15px;
}

.mentor-image{
    flex:0 0 auto;
    text-align:center;
}

.mentor-image img{
    width:180px;
    height:240px;
    object-fit:cover;

    border-radius:25px;

    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.mentor-nav{
    margin-top:30px;

    display:flex;
    align-items:center;
    gap:20px;
}

.mentor-nav button{
    width:45px;
    height:45px;

    border:none;
    border-radius:50%;

    background:#7d9668;
    color:white;

    cursor:pointer;
    font-size:20px;
}

#mentorCounter{
    font-weight:600;
}

/* ===================== */
/* INKUBASI */
/* ===================== */

.inkubasi{
    width:90%;
    margin:120px auto;
    text-align:center;
}

.sub-title{
    color:#7d9668;
    font-weight:200;
    letter-spacing:2px;
}

.inkubasi h2{
    font-size:30px;
    color:#183c2b;
    margin-top:10px;
    margin-bottom:20px;
}

.inkubasi-desc{
    max-width:700px;
    margin:0 auto 60px;
    color:#666;
    line-height:1.8;
}

.inkubasi-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.inkubasi-card{
    background:white;
    padding:40px 30px;
    border-radius:25px;

    box-shadow:0 5px 15px rgba(0,0,0,.06);

    transition:.3s;
}

.inkubasi-card:hover{
    transform:translateY(-8px);
}

.icon-circle{
    width:90px;
    height:90px;

    margin:0 auto;

    border-radius:50%;
    background:#cdd9c7;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:30px;
}

.step-badge{
    width:45px;
    height:45px;

    margin:15px auto;

    border-radius:50%;
    border:2px solid #6e8b5c;

    display:flex;
    justify-content:center;
    align-items:center;

    font-weight:600;
    color:#355b3f;
}

.inkubasi-card h3{
    margin-bottom:15px;
    color:#183c2b;
}

.inkubasi-card p{
    color:#666;
    line-height:1.8;
}

/* FORM */

.submit{
    width:70%;
    margin:100px auto;
}

.submit h2{
    text-align:center;
    margin-bottom:30px;
    font-size:30px;
}

.submit form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.submit input,
.submit textarea{
    padding:15px;
    border:none;
    border-radius:12px;
}

.submit textarea{
    height:150px;
}

.submit button{
    background:#5c8247;
    color:white;
    border:none;
    padding:15px;
    border-radius:25px;
    cursor:pointer;
}

/* ===================== */
/* SUCCESS MODAL */
/* ===================== */

.modal{
    display:none;

    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(0,0,0,.5);

    justify-content:center;
    align-items:center;

    z-index:9999;
}

.modal-content{
    background:white;
    width:90%;
    max-width:450px;

    padding:40px;
    border-radius:25px;

    text-align:center;

    animation:popup .3s ease;
}

.checkmark{
    width:90px;
    height:90px;

    margin:0 auto 20px;

    border-radius:50%;

    background:#5c8247;
    color:white;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:45px;
    font-weight:bold;
}

.modal-content h2{
    color:#183c2b;
    margin-bottom:15px;
}

.modal-content p{
    color:#666;
    line-height:1.7;
    margin-bottom:25px;
}

.modal-content button{
    background:#5c8247;
    color:white;

    border:none;
    padding:12px 25px;

    border-radius:10px;

    cursor:pointer;
}

@keyframes popup{
    from{
        transform:scale(.8);
        opacity:0;
    }
    to{
        transform:scale(1);
        opacity:1;
    }
}

/* FOOTER */

footer{
    background:#cdd9c7;
    color:black;
    text-align:center;
    padding:40px;
}

/* ===================== */
/* KONTAK */
/* ===================== */

.kontak{
    width:100%;
    margin:auto;
}

.kontak-header{
    text-align:center;
}

.kontak-header h2{
    font-size:25px;
    color:black;
    margin:10px 0 20px;
}

.kontak-container p{
    color:black;
    line-height:1.8;
}

/* ========================= */
/* TABLET */
/* ========================= */

@media (max-width: 992px){

    .overlay h1{
        font-size:25px;
    }

    .overlay p{
        width:100%;
        max-width:450px;
    }

    .about{
        grid-template-columns:1fr;
    }

    .about-stats{
        grid-template-columns:repeat(2,1fr);
    }


    .about-image img{
        width:100%;
    }

    .card-container{
        grid-template-columns:repeat(2,1fr);
    }

    .mentor-box{
        gap:10px;
    }

    .mentor-image img{
        width:60px;
        height:80px;
        object-fit:cover;

        border-radius:15px;

        box-shadow:0 5px 15px rgba(0,0,0,.1);
    }

    .inkubasi-grid{
        grid-template-columns:repeat(2,1fr);
    }
}

/* ========================= */
/* MOBILE */
/* ========================= */

@media (max-width:768px){

    nav{
        flex-direction:column;
        gap:15px;
        border-radius:25px;
        padding:20px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
        gap:15px;
    }

    .hero{
        height:400px;
    }

    .overlay{
        left:25px;
        top:80px;
        right:25px;
    }

    .overlay h1{
        font-size:30px;
    }

    .overlay p{
        width:100%;
        font-size:14px;
    }

    .about-text h2{
        font-size:24px;
    }

    .about-stats{
        grid-template-columns:repeat(2,1fr);
    }

    .stat-card{
        padding:20px;
    }

    .stat-card h3{
        font-size:30px;
    }

    .startup h2{
        font-size:20px;
    }

    .mentor-title{
        font-size:20px;
    }

    .mentor-info h2{
        font-size:20px;
        text-align:center;
    }

    .mentor-nav{
        justify-content:center;
    }

    .about-stats{
        grid-template-columns:repeat(2,1fr);
    }

    .inkubasi h2{
        font-size:20px;
    }

    .submit h2{
        font-size:20px;
    }

    .kontak h2{
        font-size:20px;
    }

    .card-container{
        grid-template-columns:1fr;
    }

    .mentor-box{
        flex-direction:column-reverse;
        text-align:center;

        padding:25px;
    }

    .mentor-image img{
        width:60px;
        height:80px;
        object-fit:cover;

        border-radius:15px;

        box-shadow:0 5px 15px rgba(0,0,0,.1);
    }

    .submit{
        width:90%;
    }

     .inkubasi-grid{
        grid-template-columns:1fr;
    }

    .kontak-container{
        grid-template-columns:1fr;
    }
}

@media(max-width:500px){

    .about-stats{
        grid-template-columns:1fr;
    }

}

/* ========================= */
/* HP KECIL */
/* ========================= */

@media (max-width:480px){

    .logo{
        font-size:20px;
    }

    .hero{
        height:500px;
        padding-bottom:20px;
    }

    .overlay h1{
        font-size:30px;
    }

    .badge{
        font-size:12px;
        padding:8px 15px;
    }

    .hero-btn{
        width:100%;
    }

    .about-text h2{
        font-size:20px;
    }

    .about-stats{
        grid-template-columns:1fr;
    }

    .about-text{
        text-align:center;
    }

    .about-text button{
        width:100%;
    }

    .stat-card h3{
        font-size:28px;
    }

    .startup h2,
    .submit h2{
        font-size:20px;
    }

    .mentor-title{
        font-size:20px;
    }

    .mentor-info h2{
        font-size:20px;
        text-align:center;
    }

     .inkubasi h2{
        font-size:20px;
    }

     .kontak h2{
        font-size:20px;
    }

    .mentor-detail p{
        font-size:15px;
    }

    .mentor-nav{
        justify-content:center;
    }

    .mentor-nav button{
        width:38px;
        height:38px;
    }

    footer{
        padding:25px;
    }
}